@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #root {
        background-color: theme('colors.main-dark-blue');
        color: #fff;
        font-family: theme('fontFamily.mainFontFamily'), serif;
    }
}